* {
    padding: 0;
    margin: 0;    
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333333;
    --bg-primary-color: #FAFAFA;
    --bg-secondary-color: #148ED5;
}

body {
    background-color: var(--background-color);
    font-family: "Josefin Sans";
    overflow: hidden;
}

header {
    background-color: var(--bg-secondary-color);
}

.card-title {
    font-size: 1.2rem;
}

.table td, .table th {
    vertical-align: middle;
}

