/* Custom CSS */
.sidebar-right {
    border-radius: 13px;
    border: 0.8px solid #CDC5EB;
    background: #FFF;
    height: 750px;
}

.list-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-right .btn-custom {
    margin-bottom: 10px;
    padding: 30px 20px;
    border-radius: 16px;
    border: 5px solid #FBFCF8;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 164.952px;
    height: 74.976px;
    transition: background 0.3s, box-shadow 0.3s, color 0.3s;
}

.sidebar-right .btn-custom:hover {
    background: #e0e0e0;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
    color: #000;
}

.img {
    width: 127.838px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116.213px;
    width: 127.838px;
    border-radius: 16px;
    border: 0.8px solid #CDC5EB;
    margin-top: 10px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-wrapper h5, .text-wrapper p {
    margin: 0;
    padding-top: 5px;
}

.text-wrapper p {
    color: #757575;
}
